@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Segoe UI",微軟正黑體,sans-serif;
  background: gray;
  color: #3D1101;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ff5e45;
}

.container {
  background: #efe9e7;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

.btn--pointer {
  cursor: pointer;
  width: 48%;
}

.btn--pointer:hover {
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .col-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .col-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .col-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .col-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .col-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .col-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .col-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .col-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.col-special {
  position: relative;
  min-height: 1px;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 415px) {
  .col-special {
    max-width: 47%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-right: 3%;
  }
}

@media (min-width: 769px) {
  .col-special {
    max-width: 30%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    margin-right: 20px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-spar {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-spab {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-spae {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m0-auto {
  margin: 0 auto;
}

.clearfix {
  clear: both;
}

.fl-r {
  float: right;
}

.tw-b {
  font-weight: bold;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.txt-xs {
  font-size: 0.75rem;
}

.txt-sm {
  font-size: 0.875rem;
}

.txt-base {
  font-size: 1rem;
}

.txt-lg {
  font-size: 1.125rem;
}

.txt-xl {
  font-size: 1.25rem;
}

.txt-2xl {
  font-size: 1.5rem;
}

.txt-3xl {
  font-size: 1.875rem;
}

.txt-4xl {
  font-size: 2.25rem;
}

.txt-5xl {
  font-size: 3rem;
}

.txt-6xl {
  font-size: 4rem;
}

.txtPrimary {
  color: #3D1101;
}

.txtSecondary {
  color: #fff;
}

.formTxtLink {
  color: #ff5e45;
}

.txtLink {
  color: #fff;
}

.txtHover {
  color: #ff5e45;
}

.p-10 {
  padding: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-4r {
  margin-left: 4rem;
}

.ml-5r {
  margin-left: 5rem;
}

.mb-1r {
  margin-bottom: 1rem;
}

.mb-2r {
  margin-bottom: 2rem;
}

.m-m-0 {
  margin: 0;
}

.pr-10 {
  padding-right: 10px;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .plr-0 {
    padding-left: 0;
    padding-right: 0;
  }
}

.z-99 {
  z-index: 99;
}

.is-none {
  display: none;
}

/* ==========pure form========== */
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
          box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
          box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
  padding: 0.2em 0.5em;
}

.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA;
}

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-3-4 {
  width: 75%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 2em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

/* ==========pure form end========== */
/* ==========pure botton========== */
/*csslint outline-none:false*/
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 5px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active,
.pure-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  opacity: 0.40;
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

/* Button Groups */
.pure-button-group .pure-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.pure-button-group .pure-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}

/* ==========pure botton End========== */
.navBar {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 3.5rem;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .navBar {
    position: fixed;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navBar {
    padding-bottom: 1rem;
  }
  .navBar.is-show .navBar__nav {
    max-height: 500px;
  }
}

.navBar__logo {
  width: 120px;
  height: 24px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  background: url(../images/logo_w@svg.svg) no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .navBar__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    text-align: center;
    background-color: #000;
  }
}

.navBar__nav__list {
  font-weight: bold;
}

.navBar__nav__list--dropdown {
  display: none;
  position: absolute;
  top: 3rem;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.navBar__nav__list:hover ul {
  display: block;
}

@media (max-width: 768px) {
  .navBar__nav__list:hover ul {
    display: none;
  }
}

.navBar__nav__list--dropdownMb {
  display: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navBar__nav__list--dropdownMb {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }
  .navBar__nav__list--dropdownMb.is-open {
    max-height: 300px;
  }
}

.navBar__nav a {
  padding: 1.2rem;
}

.navBar__nav a i {
  margin-left: 1rem;
}

.navBar__burger {
  display: none;
  position: absolute;
  top: .9rem;
  right: 4rem;
  background-color: #f8f1f1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navBar__burger {
    display: block;
  }
}

.navBar__burger__icon {
  position: relative;
  margin-top: 11px;
  margin-bottom: 11px;
}

.navBar__burger__icon, .navBar__burger__icon::before, .navBar__burger__icon::after {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #f8f1f1;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navBar__burger__icon::before, .navBar__burger__icon::after {
  content: '';
}

.navBar__burger__icon::before {
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
}

.navBar__burger__icon::after {
  -webkit-transform: translateY(11px);
          transform: translateY(11px);
}

.navBar__burger.is-open .navBar__burger__icon {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navBar__burger.is-open .navBar__burger__icon::before {
  -webkit-transform: rotate(45deg) translate(25px, -25px);
          transform: rotate(45deg) translate(25px, -25px);
}

.navBar__burger.is-open .navBar__burger__icon::after {
  -webkit-transform: rotate(-45deg) translate(25px, 25px);
          transform: rotate(-45deg) translate(25px, 25px);
}

.header {
  margin: 0 auto;
  background: url(../images/header_desktop.png) no-repeat center;
  text-align: center;
}

@media (max-width: 414px) {
  .header {
    max-width: 100%;
    height: auto;
    background: url(../images/header_mobile.png) no-repeat center center;
  }
}

.header__title {
  color: #fff;
  display: inline-block;
  padding: 3%;
  margin-bottom: 8rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1em;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

@media (max-width: 768px) {
  .header__title {
    margin-top: 9rem;
  }
}

@media (max-width: 414px) {
  .header__title {
    font-size: 1.25rem;
  }
}

.header__txt {
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 30px;
}

@media (max-width: 414px) {
  .header__txt {
    font-size: 1rem;
  }
}

.content {
  margin: 0 auto;
}

.footer {
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 414px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer--padNone {
    display: none;
  }
}

@media (max-width: 414px) {
  .footer--padNone {
    display: block;
  }
}

.footer__txt {
  line-height: 1.4;
}

.footer__txt__link {
  line-height: 1.5;
  padding-left: .5rem;
  color: #3D1101;
}

.footer__txt__link a {
  color: #3D1101;
}

.footer__txt__link a:hover {
  color: #ff5e45;
}

.footer__logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 243px;
  height: 48px;
  background: url(../images/logo_l@svg.svg) no-repeat;
  margin-bottom: 10px;
}

.footer__icon {
  font-size: 1.875rem;
}

.footer__icon__link:hover i {
  color: red;
}

.heading {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}

.heading__title {
  font-weight: bold;
  line-height: 1.2;
}

.heading__title--decLine {
  display: block;
  position: relative;
  display: block;
}

.heading__title--decLine::before, .heading__title--decLine::after {
  position: absolute;
  content: '';
  width: 90px;
  height: 3px;
  background-color: #3D1101;
  top: 0;
}

.heading__title--decLine::before {
  left: 9rem;
}

.heading__title--decLine::after {
  right: 9rem;
}

@media (max-width: 414px) {
  .heading__title--decLine {
    position: relative;
    display: block;
  }
  .heading__title--decLine::before, .heading__title--decLine::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #3D1101;
    top: 0;
  }
  .heading__title--decLine::before {
    left: 1rem;
  }
  .heading__title--decLine::after {
    right: 1rem;
  }
}

@media (max-width: 350px) {
  .heading__title--decLine {
    position: relative;
    display: block;
  }
  .heading__title--decLine::before, .heading__title--decLine::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    background-color: #3D1101;
    top: 0;
  }
  .heading__title--decLine::before {
    left: 1rem;
  }
  .heading__title--decLine::after {
    right: 1rem;
  }
}

.heading--bgColor {
  background-color: #f8f1f1;
}

.card {
  padding-top: .5rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .card__list {
    max-width: 50%;
  }
}

@media (max-width: 414px) {
  .card__list {
    max-width: 100%;
    margin-bottom: 1.6rem;
  }
}

.card__list__img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card__list__title {
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .card__list--padNone {
    display: none;
  }
}

@media (max-width: 414px) {
  .card__list--padNone {
    display: block;
  }
}

.news {
  background: #000;
  color: #fff;
}

@media (max-width: 768px) {
  .news__img {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .news__img--big {
    display: none;
  }
}

.news__img--small {
  display: none;
}

@media (max-width: 768px) {
  .news__img--small {
    display: block;
    width: 100%;
  }
}

.news__title {
  line-height: 2;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
}

.news__txt {
  margin-bottom: 1.25rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .cardSmall__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 414px) {
  .cardSmall__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.cardSmall__list__img {
  border-radius: 50%;
  width: 67px;
  height: 67px;
}

.cardSmall__list__txt {
  margin-top: 1.5rem;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .cardSmall__list--padNone {
    display: none;
  }
}

@media (max-width: 414px) {
  .cardSmall__list--padNone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.booking {
  background-color: #f8f1f1;
  padding-bottom: 2rem;
}

.booking__form__title {
  text-indent: .2rem;
  padding-bottom: .2rem;
  cursor: pointer;
}

.booking__form__title--span {
  display: block;
  margin-bottom: 0.5rem;
}

.booking__form__title--radio {
  text-align: left;
}

.booking__form__input {
  width: 100%;
}

.booking__form__btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 5.5rem;
}

@media (max-width: 768px) {
  .booking__form__btn {
    margin-top: 0;
  }
}

.booking__form__btn--primary {
  background: #ff5e45;
  margin-left: 1rem;
  width: 25%;
}

@media (max-width: 768px) {
  .booking__form__btn--primary {
    margin-left: 1rem;
    width: 100%;
  }
}

@media (max-width: 414px) {
  .booking__form__btn--primary {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

.booking__form__btn--secondary {
  background: #9D9D9D;
  width: 25%;
}

@media (max-width: 768px) {
  .booking__form__btn--secondary {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .booking__form__btn {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.login {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .login {
    padding: 0 5%;
  }
}

.login__form {
  padding: 1% 2%;
  border-top: 5px solid #ff5e45;
  -webkit-box-shadow: 2px 2px 2px #c7c6c6;
          box-shadow: 2px 2px 2px #c7c6c6;
}

.login__form__label {
  padding-top: 1.5rem;
}

.login__form__label--iconEmail {
  position: relative;
}

.login__form__label--iconEmail::before {
  position: absolute;
  top: 27px;
  left: 10px;
  content: "";
  color: #3D1101;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}

.login__form__label--iconPsw {
  position: relative;
}

.login__form__label--iconPsw::before {
  position: absolute;
  top: 52px;
  left: 10px;
  content: "";
  color: #3D1101;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}

.login__form__input {
  width: 100%;
  text-indent: 20px;
}

.login__form__link {
  color: #ff5e45;
}

.login__form__link:hover {
  color: #fff;
}

.login__form__btn {
  text-align: center;
}

.login__form__btn--primary {
  color: #fff;
  background-color: #ff5e45;
}

.login__form__btn--secondary {
  color: #fff;
  background-color: #9D9D9D;
}

.register {
  margin-right: 15px;
  padding-left: 15px;
}

.register__form {
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 2% 2%;
  border-top: 5px solid #FF5E45;
  -webkit-box-shadow: 2px 2px 2px #c7c6c6;
          box-shadow: 2px 2px 2px #c7c6c6;
}

@media (max-width: 414px) {
  .register__form__link {
    display: inline-block;
  }
}

.register__form__txt {
  width: 46%;
}

@media (max-width: 414px) {
  .register__form__txt {
    display: none;
  }
}

.register__form__join {
  width: 46%;
}

@media (max-width: 414px) {
  .register__form__join {
    width: 100%;
  }
}

.register__form__label {
  padding-top: 1.5rem;
}

.register__form__label--iconEmail {
  position: relative;
}

.register__form__label--iconEmail::before {
  position: absolute;
  top: 27px;
  left: 10px;
  content: "";
  color: #3D1101;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}

.register__form__label--iconPswFst {
  position: relative;
}

.register__form__label--iconPswFst::before {
  position: absolute;
  top: 52px;
  left: 10px;
  content: "";
  color: #3D1101;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}

.register__form__label--iconPswSec {
  position: relative;
}

.register__form__label--iconPswSec::before {
  position: absolute;
  top: 9px;
  left: 10px;
  content: "";
  color: #3D1101;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
}

.register__form__input {
  width: 100%;
  text-indent: 20px;
}

.register__form__btn {
  width: 100%;
  background-color: #ff5e45;
}

.cart {
  padding: 3% 1%;
}

.sideBar {
  text-align: center;
}

.sideBar__title {
  margin-bottom: 1rem;
  font-weight: bold;
}

.sideBar__title .fa-hamburger {
  margin-right: 1rem;
}

.sideBar__list a {
  display: block;
  padding: 10px;
  font-weight: bold;
  color: #3D1101;
  border-bottom: 1.5px solid #3D1101;
}

.sideBar__list a:hover {
  background-color: #3D1101;
  color: #fff;
}

.main {
  position: relative;
}

@media (max-width: 414px) {
  .main__toolbar {
    margin-top: 1rem;
  }
}

.main__toolbar__btn {
  display: inline-block;
  width: 450px;
  height: 50px;
  border-radius: 5px;
  background-color: #3D1101;
  border: 2px solid #3D1101;
  color: #fff;
}

.main__toolbar__btn:hover {
  background: #efe9e7;
  color: #3D1101;
}

@media (max-width: 768px) {
  .main__toolbar__btn {
    width: 100%;
  }
}

.main__toolbar__btn__search {
  width: 89%;
  height: 46px;
  background-color: #efe9e7;
}

.main .fa-search {
  padding-top: .8rem;
  margin-left: .8rem;
}

@media (max-width: 414px) {
  .main .fa-search {
    margin-left: .5rem;
  }
}

.main__link {
  color: #3D1101;
  font-size: 1.125rem;
  font-weight: bold;
}

.main__link--line {
  margin-right: 20px;
  position: absolute;
  top: 15px;
  right: 65px;
}

@media (max-width: 768px) {
  .main__link--line {
    top: 4.3rem;
  }
}

@media (max-width: 414px) {
  .main__link--line {
    top: 5.5rem;
  }
}

.main__link--line::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 20px;
  margin-left: 8px;
  border-right: 3px solid #3D1101;
}

.main__link__number {
  position: absolute;
  top: -8px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  border-radius: 50%;
  background-color: #ff5e45;
}

.main__link--iconCart {
  position: absolute;
  top: 12px;
  right: 37px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .main__link--iconCart {
    top: 4rem;
  }
}

@media (max-width: 414px) {
  .main__link--iconCart {
    top: 5.25rem;
  }
}

.product {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .product {
    padding-top: 4rem;
  }
}

.product__list {
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 5px 5px 5px #cccaca;
          box-shadow: 5px 5px 5px #cccaca;
  border-radius: 5px;
}

@media (max-width: 414px) {
  .product__list__img {
    width: 100%;
  }
}

.product__list--iconHeart {
  position: absolute;
  top: 5px;
  left: 5px;
}

.product__list__title {
  margin: 1rem 0;
}

.product__list__addCart {
  margin: 1rem auto;
  width: 90%;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #ff5e45;
  border: 2px solid #ff5e45;
  border-radius: 5px;
}

.product__list__addCart:hover {
  color: #fff;
  background: #ff5e45;
}

.product__list .hot {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.product__list .hot::before, .product__list .hot::after {
  content: '';
  position: absolute;
  display: block;
  z-index: 9;
  border-style: solid;
}

.product__list .hot::before {
  top: -5px;
  left: 0;
  border-width: 5px 6px;
  border-color: transparent transparent #078f6d transparent;
}

.product__list .hot::after {
  bottom: 0;
  right: -5px;
  border-width: 6px 5px;
  border-color: transparent transparent transparent #078f6d;
}

.product__list .hot__txt {
  display: block;
  position: absolute;
  top: 15px;
  left: -15px;
  width: 130px;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  background-color: #0c9;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.underLine {
  display: inline-block;
  width: 6rem;
  height: 3px;
  border-bottom: 1px solid #3D1101;
}
/*# sourceMappingURL=main.css.map */