
// flex

.d-flex {
    display: flex;
}

.jc-spar {
    justify-content: space-around;
}

.jc-spab {
    justify-content: space-between;
}

.jc-spae {
    justify-content: space-evenly;
}

.jc-end {
    justify-content: end;
}

.jc-center {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

// arrange

.m0-auto {
    margin: 0 auto;
}

// clearfix
.clearfix {
    clear: both;
}

// float

.fl-r {
    float: right;
}

// txt type

.tw-b {
    font-weight: bold;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}

// font-size

.txt-xs {
    font-size: $fz-xs;
}

.txt-sm {
    font-size: $fz-sm;
}

.txt-base {
    font-size: $fz-base;
}

.txt-lg {
    font-size: $fz-lg;
}

.txt-xl {
    font-size: $fz-xl;
}

.txt-2xl {
    font-size: $fz-2xl;
}

.txt-3xl {
    font-size: $fz-3xl;
}

.txt-4xl {
    font-size: $fz-4xl;
}

.txt-5xl {
    font-size: $fz-5xl;
}

.txt-6xl {
    font-size: $fz-6xl;
}

// txt color
.txtPrimary {
    color: $txt-primary;
}
.txtSecondary {
    color: $txt-secondary;
}
.formTxtLink {
    color: $form-txt-link;
}
.txtLink {
    color: $txt-link;
}
.txtHover {
    color: $txt-hover;
}


//  padding & margin

.p-10 {
    padding: 10px;
}

.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-4r {
    margin-left: 4rem;
}

.ml-5r {
    margin-left: 5rem;
}

.mb-1r {
    margin-bottom: 1rem;
}

.mb-2r {
    margin-bottom: 2rem;
}

.m-m-0 {
    margin: 0;
}

.pr-10 {
    padding-right: 10px;
}
.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.plr-0 {
    padding-left: 0;
    padding-right: 0;
    @include pad {
        padding-left: 0;
        padding-right: 0;
    }
}

// z-index

.z-99 {
    z-index: 99;
}

// none
.is-none {
    display: none;
}