// bg color

$bg-primary: #efe9e7;
$bg-secondary: #f8f1f1;
$bg-nav: rgba(0, 0, 0, 0.75);
$bg-nav-mb: #000;
$bg-chief: #000;

// text color

$txt-primary: #3D1101;
$txt-secondary: #fff;
$txt-link: #fff;
$txt-hover: #ff5e45;
$form-txt-link: #ff5e45;

// font size

$fz-m: 1rem;
$fz-l: 1.25rem;
$fz-xl: 1.5rem;
$fz-xxl: 2rem;


// grid

$gutter-width: 20px;
$grid-num: 12;