// bg color

$bg-primary: #efe9e7;
$bg-secondary: #f8f1f1;
$bg-nav: rgba(0, 0, 0, 0.5);
$bg-nav-mb: #000;
$bg-news: #000;
$bg-hover: #3D1101;
$bg-addCart: #ff5e45;
$bg-formLine: #ff5e45;

// text color

$txt-primary: #3D1101;
$txt-secondary: #fff;
$txt-link: #fff;
$txt-hover: #ff5e45;
$txt-hover-addCart: #fff;
$form-txt-link: #ff5e45;
$txt-addCart: #ff5e45;

// btn color
$btn-primary: #ff5e45;
$btn-secondary: #9D9D9D;

// font size

$fz-xs: 0.75rem;
$fz-sm: 0.875rem;
$fz-base: 1rem;
$fz-lg: 1.125rem;
$fz-xl: 1.25rem;
$fz-2xl: 1.5rem;
$fz-3xl: 1.875rem;
$fz-4xl: 2.25rem;
$fz-5xl: 3rem;
$fz-6xl: 4rem;




// grid

$gutter-width: 30px;
$grid-num: 12;