

.container{
    margin: 0 auto;
    max-width: 960px;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
}

.box{
    height: 300px;
    background-color: gray;
}

.row{
    display: flex;
    margin-left: -($gutter-width / 2);
    margin-right: -($gutter-width / 2);
    flex-wrap: wrap;
}

%col {
    position: relative;
    min-height: 1px;
    max-width: 100%;
    flex: 0 0 100%;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;    
}

@for $i from 1 to $grid-num + 1 {
    .col-#{$i} {
        @extend %col
    }
}

@media (min-width: 767px) {
    @for $i from 1 to $grid-num + 1 {
        .col-#{$i} {
            max-width: 100% * ($i / $grid-num);
            flex: 0 0 (100% * ($i / $grid-num));
        }
    }
}