.navBar {
    background-color: $bg-nav;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 3.5rem;
    padding: 0 1rem;
    @include pad {
        position: fixed;
        width: 100%;
        
    }

    @include pad {
        padding-bottom: 1rem;
        &.is-show &__nav {
            max-height: 500px;
        }
    }

    &__logo {
        width: 120px;
        height: 24px;
        margin-top: 1rem;
        margin-left: 0.5rem;
        background: url(../images/logo_w@svg.svg) no-repeat;
        @include hiddenTxt;
    }   

    &__nav {
        @include pad {
            flex-direction: column;
            position: absolute;
            top: 3rem;
            right: 0;
            left: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 1s;
            text-align: center;
            background-color: $bg-nav-mb;
        }
        &__list {
            font-weight: bold;
            &--dropdown {
                display: none;
                position: absolute;
                top: 3rem;
                padding: 0 1rem;
                background-color: $bg-nav;
            }
            &:hover {
                ul {
                    display: block;
                    @include pad {
                    display: none;
                    }  
                }                            
            }
            &--dropdownMb {
                display: none;    
                font-weight: bold; 
                @include pad{
                    display: block;
                    max-height: 0;
                    overflow: hidden;
                    transition: all 1.5s ease;
                    &.is-open {
                        max-height: 300px;
                    }
                }             
            }                      
        }
        a {
            padding: 1.2rem;
            i {
                margin-left: 1rem;
            }
        }
    }

// * burgerMenu
    &__burger {
        display: none;
        position: absolute;
        top: .9rem;
        right: 4rem;
        background-color: $bg-secondary;
        cursor: pointer;

        @include pad {
            display: block;
        }

        &__icon {
            @include burger(30px, 4px, 7px, $bg-secondary, 5px, .3s);
        }
        &.is-open .navBar__burger__icon{
            @include burger-to-cross($bg-secondary);
        }
    }
}