html {
    font-size: 16px;
}

body {
    font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    background: $bg-primary;
    color: $txt-primary;
}

a {
    display: block;
    text-decoration: none;
    color: $txt-link;
    &:hover {
        color: $txt-hover;
    }
}

h2 {
    font-size: $fz-xxl;
}

h3 {
    font-size: $fz-xl;
}

h4 {
    font-size: $fz-l;
}


