html {
    font-size: 16px;
}

body {
    // * 字體嘗試
    font-family: "Segoe UI",微軟正黑體,sans-serif;
    background: gray;
    color: $txt-primary;
}

a {
    display: block;
    text-decoration: none;
    color: $txt-link;
    &:hover {
        color: $txt-hover;
    }
}

.container {
    background: $bg-primary;
}

h2 {
    font-size: $fz-2xl;
}

h3 {
    font-size: $fz-xl;
}

h4 {
    font-size: $fz-lg;
}

.btn--pointer{
    cursor: pointer;
    width: 48%;
    &:hover {
        color: $txt-secondary;
    }
}
